

.contact {
    padding: 60px 0px 150px;
    // .contact__title

    &__title {
        font-size: 36px;
        line-height: 42px;
        font-weight: 900;
        margin-bottom: 50px;
    }

    // .contact__body

    &__body {
        display: flex;
        
    }

    // .contact__info

    &__info {
        a{
            text-decoration: none;
        }
        margin-left: 100px;
        max-width: 348px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 348px;
    }

    // .contact__phone

    &__phone {}

    // .contact__mail

    &__mail {}

    // .contact__cosial

    &__cosial {
        a{
            padding-right: 30px;
            &:nth-child(4){
                padding-right: 0px;
            }
        }
    
    }

    // .contact__icons

    &__icons {}

    // .contact__polite

    &__polite {
        a{
            color: #A5A5A5;
            text-decoration: underline;
        }
    }
}

.container {}

.form {
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    width: 380px;
    height: 409px;
    background: #FFFFFF;

    // .form__wrapper

    &__wrapper {
        padding-top: 40px;
        width: 309px;
        margin: 0 auto;
        padding-bottom: 45px;
    }

    // .form__title

    &__title {
        text-align: center;
        color: #000;
        font-weight: 900;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    // .form__form

    &__form {
        input{
            margin-bottom: 17px;
            width: 100%;
        }
    }

    &__btn {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 28px;
        color: #2E2E30;
        margin-top: 10px;
        border: none;
        border-color: #B68500;
        cursor: pointer;
        width: 285px;
        height: 65.17px;
        background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
        box-shadow: 0px 6px 0px #B68500;
        border-radius: 5px 5px 10px 10px;
        transition: all 0.5s;

        &:hover {
            background: linear-gradient(180deg, #FDDE76 0%, #e2a007 100%);
        }

        &:active {
            transform: translateY(5px);
            border: none;
            border: 1px;
            box-shadow: 0px 0px 0px #B68500;
            border-radius: 5px 5px 10px 10px;

        }
    }

}

.form-input {
    padding: 0px 30px;
    height: 63px;
    border: none;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    color: #949494;
    &::before {
        content: "dg";
        display: inline-block;
        
    }
}


.icon {}

.icon-facebook {}

.icon-github {}

.icon-instagram {}

.icon-twitter {}
