


.main-header {
    
    
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;

    // .main-header__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__cosial {
        display: flex;
        justify-content: center;
    }
}


.icon {
    margin-left: 20px;
    width: 17px;
    height: 17px;
    &:nth-child(1){
        margin-left: 0px;
    }
}


//  ============ hero ============//
.hero {
    padding-top: 182px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);

    // .hero__body

    &__body {

    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .hero__job

    &__job {
        font-weight: 400;
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 28px;
        color: #FFBB01;
    }

    // .hero__name

    &__name {
        font-weight: 900;
        margin-bottom: 20px;
        font-size: 50px;
        line-height: 59px;
    }

    // .hero__text

    &__text {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 28px;
        max-width: 420px;
    }

    // .hero__button

    &__button {}

    // .hero__btn

    &__btn {
        border: none;
        border-color: #B68500;
        cursor: pointer;
        width: 285px;
        height: 65.17px;
        background: linear-gradient(180deg, #FDDE76 0%, #ffbb01cc 100%);
        box-shadow: 0px 6px 0px #B68500;
        border-radius: 5px 5px 10px 10px;
        transition: all 0.5s;
        &:hover{
            background: linear-gradient(180deg, #FDDE76 0%, #e2a007 100%);
        }
        &:active{
            transform: translateY(5px);
            border: none;
            border: 1px;
            box-shadow: 0px 0px 0px #B68500;
            border-radius: 5px 5px 10px 10px;
            
        }
    }

    // .hero__avatar

    &__avatar {}

    // .hero__image

    &__image {
        width: 389px;
        height: 389px;
    }

    // .hero__img

    &__img {
        border: 10px solid#fff ;
        border-radius: 50%;
    }
}

